body {
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}

nav a:hover {
  text-decoration: none;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.form-input {
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
}

.form-button {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.form-button:hover {
  background-color: #444;
}

/* .product-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.product-card h3 {
  margin-top: 0;
}

.product-card p {
  margin-bottom: 10px;
}

.product-card img {
  max-width: 100%;
  height: auto;
} */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

nav .logo {
  font-size: 24px;
  font-weight: bold;
}

nav .menu-icon {
  font-size: 24px;
  cursor: pointer;
  display: none;
}

nav .menu {
  display: flex;
}

nav .menu li {
  list-style: none;
  margin-right: 20px;
}

nav .menu li a {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 768px) {
  nav .menu {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #333;
    width: 100%;
    padding: 20px;
    text-align: center;
  }

  nav .menu li {
    margin: 10px 0;
  }

  nav .menu-icon {
    display: block;
  }

  nav .menu-open .menu {
    display: flex;
    flex-direction: column;
  }
}
